 
 body{margin:0;padding:0;}
 body{background-image:url("bedbook.jpg");background-repeat:no-repeat;background-size:cover;height:750px;}
 #one{color:#3D3D3D;margin-top:310px;margin-left:310px;font-size:50px;}