body{padding:0;margin:0;}
img{position:cover;background-repeat:no repeat;height:350px;width:100%;}
#one{background-color:#BBDDF0;width:100%;height:700px;}
td{padding-top:5px;font-size:20px;color:#01283E;}
.cls{padding-top:40px;padding-left:40px;}
.imp{margin-left:40px;height:45px;width:300px;font-size:20px;padding:10px;box-shadow:2px red;}
::placeholder {
  color: #9B9E9E;
  font-family: "Times New Roman", Times, serif;
  
   }
.imp:hover{border-radius:10px;background:#C2CACF;transition:0.5s;}
li{display:block;}
#frm{margin-left:100px;}
#first{height:90px;padding:10px;}
#second{height:90px;padding:10px;}
#btn{background:#064973;color:yellow;width:300px;height:43px;margin-top:50px;margin-left:210px;font-size:20px;
color:white;border-radius:10px;}
#btn:hover{background:#0098F7;transition:0.5s;}
.img{opacity:0.5;}
.img:hover{opacity:1;}
