{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'ADDHOSPITAL/successfuly.css' %}">
</head>
<body>
<div id="one">
    <h1 style="text-align:center;color:red;">THANK YOU </h1>

   <h1 style="text-align:center;color:blue;"> {{ name.hname }} DATA SUCCESFULLY REGISTER</h1>
</div>
</body>
</html>