{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adddoctor</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<link rel="stylesheet" href="{% static 'FINDDOCTOR/add_doctor.css' %}">
<body>
<h1 style="color:red;margin-top:40px;margin-left:560px;font-size:40px;position:reletive;"><i class='fas fa-h-square' style='font-size:45px'></i>OSPITAL<i class='fas fa-heartbeat' style='font-size:36px'></i>SEVA </h1>
<div id="one">

        <form  action="" method="">
            {% csrf_token %}

        <table id="frm">
            <tr>
                <td>NAME</td>
            </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="Name.."></td>
            </tr>
            <tr>
                <td>REGISTRATION NUMBER</td>
            </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="Registration Number.."></td>
            </tr>

             <tr>
                <td>QUALIFICATION</td>
             </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="Qualificaton.."></td>
            </tr>
             <tr>
                <td>SPECIALITY</td>
             </tr>
            <tr>

                <td><input class="cls" type="text" placeholder="Speciality.."></td>
            </tr>
             <tr>
                 <td>CONTACT NUMBER</td>
             </tr>
             <tr>
                <td><input class="cls" type="number" placeholder="Contact Number.."></td>
            </tr>
              <tr>
                 <td>STATE</td>
             </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="State.."></td>
            </tr>
        </table>
        <table  id="two">
             <tr>
                 <td>CITY</td>
             </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="City.."></td>
            </tr>
            <tr>
                <td>ADDRESS</td>
             </tr>
            <tr>
                 <td><textarea placeholder="Address"></textarea></td>
            </tr>
              <tr>
                 <td>EXPERIENCE</td>
             </tr>
            <tr>
                <td><input class="cls" type="text" placeholder="Experience.."></td>
            </tr>
             <tr>
                 <td>FEES</td>
             </tr>
            <tr>
                <td><input class="cls" type="number" placeholder="Fees.."></td>
            </tr>
             <tr>
                 <td>PHOTO</td>
             </tr>
            <tr>
                <td><input class="cls" type="file" placeholder="City.."></td>
            </tr>
        </table>
            <input id="btn" type="submit" value="REGISTER">
        </form>

    </div>



</body>
</html>
