{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
     <link rel="stylesheet" href="{% static 'FINDDOCTOR/bedbook.css' %} " type="text/css" >


</head>
<body>
<div id="first">
    <h1 style="color:red;margin-top:5px;margin-left:580px;font-size:40px;position:reletive;"><i class='fas fa-h-square' style='font-size:45px'>

    </i>OSPITAL<i class='fas fa-heartbeat' style='font-size:36px'></i><i class="fa fa-strikethrough" style="font-size:36px;"></i>EVA </h1>
    <h1 style="color:white;font-size:25px;margin-left:1400px;background:#452611;width:120px;height:40px;text-align:center;">{{time}}</h1>


<h1 id="one">Your Booking  Request Successfully Register</h1>

</div>
</body>
</html>