* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
	margin:0;
	padding:0;
}


form.example button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}
#pattient{
position:relative;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration:inherit;width:300px;font-size:20px;
	}

.one{
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.container .one{height:20px;width:250px;}
.one:hover{transition:0.5s;}
ul li {list-style-type: none;}
.one{font-size:25px;}
#tbl{position:relative;margin-right:200px;margin-top:80px;
background:#DAE7FB;width:900px;color:black;font-size:18px;border-radius:100px 5px;height:400px;}

.circular{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
   overflow: hidden;
}
.once{width:300px;height:30px;background:white;margin-left:50px;}
img{padding:10px;}
.bt{border-radius:20px;margin-left:100px;
width:130px;height:40px;background:#078AC1;color:white;}
.bt:hover{background:#069CE4;transition:0.5s;}
td{padding-left:40px;}
.tr{padding-left:120px;margin-left:100px;color:#0554C9;}
#tbl:hover{background:white;transition:0.5s;}
#nm{padding-left:200px;margin-left:80px;}





