#one{background-image:url('w1.jpg');}
#frm{width:600px;height:300px;margin-left:300px;border-radius:15px;}

tr{color:#000825;font-size:20px;padding-top:10px;padding-left:30px;margin-top:20px;}
.cls{height:40px;width:370px;border-radius:10px;box-shadow: 2px 2px 2px 2px #02209C;
padding:10px;font-size:25px;margin-top:1px;}
td{padding-top:30px;padding-left:20px;color:#032C75;}
table{height:400px;}
 li{display:inline;float:left;}

.cls:hover{box-shadow:1px 1px 1px 1px white;transition:0.5s;}

::placeholder {
  color: #9B9E9E;
  font-family: "Times New Roman", Times, serif;
   }

textarea{height:123px;width:375px;font-size:25px;box-shadow:2px 2px 2px 2px #02209C;padding:10px;
font-size:20px;border-radius:10px; box-shadow: 2px 2px 2px 2px #02209C;

}
#one{height:800px;}
textarea:hover{box-shadow:1px 1px 1px 1px white;transition:0.5s;}
#two{margin-left:100px;}
table{display:inline;}
#btn{margin-left:670px;background:#0A4BC0;width:200px;height:50px;margin-top:50px;border-radius:15px;
font-size:20px;color:white;border:none;

}
#btn:hover{background:#145BDA;}