{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Library</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'css/health_library.css' %} " >
</head>
<body>
<h1 style="color:red;margin-top:5px;margin-left:300px;font-size:36px;position:reletive;">E-<i class='fas fa-h-square' style='font-size:36px'>

    </i>OSPITAL BED <i class='fas fa-heartbeat' style='font-size:36px'> BLOOD BOOKING </i> <i class="fa fa-strikethrough" style="font-size:36px;"> </i>ERVICE </h1>

  <div style="background:pink">
<table>
    <h1>AIDS</h1>
    <p>AIDS is a disease that can develop in people with HIV. It’s the most advanced stage of HIV. But just because a person has HIV doesn’t mean they’ll develop AIDS.

HIV kills CD4 cells. Healthy adults generally have a CD4 count of 500 to 1,500 per cubic millimeter. A person with HIV whose CD4 count falls below 200 per cubic millimeter will be diagnosed with AIDS.

A person can also be diagnosed with AIDS if they have HIV and develop an opportunistic infection or cancer that’s rare in people who don’t have HIV. An opportunistic infection, such as pneumonia, is one that takes advantage of a unique situation, such as HIV.

Untreated, HIV can progress to AIDS within a decade. There’s no cure for AIDS, and without treatment, life expectancy after diagnosis is about three yearsTrusted Source. This may be shorter if the person develops a severe opportunistic illness. However, treatment
        with antiretroviral drugs can prevent AIDS from developing.</p>
    <h2>Symptoms</h2>
    <ul>
        <li>Fiver.</li>
         <li>Headche.</li>
         <li>Fatigue.</li>
         <li>Sore throat.</li>
         <li>Aching Muscles.</li>
         <li>Weight loss. </li>

    </ul>
    <h2>Prevention</h2>
    <ul>

        <li>You can't become infected with HIV through ordinary contact.</li>
         <li>If you're pregnant, get medical care right away.</li>
         <li>Tell your sexual partners if you have HIV..</li>
         <li>Use post-exposure prophylaxis (PEP) if you've been exposed to HIV.</li>
         <li>If you're HIV-positive, you may pass the infection to your baby. But if you receive treatment during pregnancy, you can significantly cut your baby's risk.</li>
         <li> If you use a needle to inject drugs, make sure it's sterile and don't share it. Take advantage of needle-exchange programs in your community. Consider seeking help for your drug use..</li>

    </ul>
</table>
  </div>

  <div
  <div style="background:cyan">
<table>
    <h1>ASTHOMA</h1>
    <p>Asthma is a long-term disease of the lungs. You might hear your doctor call it a chronic respiratory disease.
        It causes your airways to get inflamed and narrow and makes breathing difficult. Coughing, wheezing, shortness of breath, and chest tightness are classic asthma symptoms.
        Severe asthma can make it hard to talk or be active. Some people refer to asthma as "bronchial asthma."

CONT</p>
    <h2>Symptoms</h2>
    <ul>




        <li>Shortness of breath.</li>
         <li>Chest tightness or pain</li>
         <li>Trouble sleeping caused by shortness of breath, coughing or wheezing.</li>
         <li>A whistling or wheezing sound when exhaling (wheezing is a common sign of asthma in children).</li>
         <li>Coughing or wheezing attacks that are worsened by a respiratory virus, such as a cold or the flu.</li>

    </ul>
    <h2>Prevention</h2>
    <ul>
        <li>Stay Away From Allergensn.</li>
         <li>Avoid Smoke of Any Type.</li>
         <li>Prevent Colds and Allergy-Proof Your Home</li>
         <li>Get Your Vaccinations.</li>
        <li>Take Asthma Medications as Prescribed</li>
        <li>Consider Immunotherapy Allergy Shots.</li>


    </ul>
</table>
  </div>


  <div style="background:skyblue">
<table>
    <h1>FIVER</h1>
    <p>Fever is a rise in body temperature above the normal temperature, usually caused by infection. Normal body temperature is around 37°C (give or take a degree, depending on individual differences). There may also be minor fluctuations over the course of the day and night. Contrary to popular belief, the severity of fever isn’t necessarily related to the seriousness of the illness – for example, life-threatening meningitis might only cause a small temperature rise.

The fever triggered by a viral or bacterial infection is caused by chemicals produced by the immune system, which reset the body’s thermostat to a higher level. Most cases of mild fever resolve by themselves within a couple of days. A mild fever (up to 39°C) can actually help the immune system to get rid of an infection. In children between the ages of six months and six years, fever can trigger convulsions. A fever of 42.4°C or higher, particularly in the elderly, can permanently damage the brain.</p>
    <h2>Symptoms</h2>
    <ul>
        <li>Feeling unwell.</li>
         <li>Feeling hot and sweaty.</li>
         <li>Shivering.</li>
         <li>Chattering teeth.</li>
         <li>Flushed face.</li>

    </ul>
    <h2>Prevention</h2>
    <ul>

        <li>Take paracetamol or ibuprofen in appropriate doses to help bring your temperature down.</li>
         <li>Drink plenty of fluids, particularly water.</li>
         <li>Avoid alcohol, tea and coffee as these drinks can cause slight dehydration.</li>
         <li>Sponge exposed skin with tepid water. To boost the cooling effect of evaporation, you could try standing in front of a fan.</li>
         <li>Avoid taking cold baths or showers. Skin reacts to the cold by constricting its blood vessels, which will trap body heat. The cold may also cause shivering, which can generate more heat.</li>
         <li>Make sure you have plenty of rest, including bed rest.</li>

    </ul>
</table>
  </div>

 <div style="background:yellow">
<table>
    <h1 >BRONCHITIS</h1>
    <p>Symptoms of bronchitis include a cough, wheezing, and difficulty breathing. People may also have trouble clearing heavy mucus or phlegm from their airways.

Bronchitis can be acute or chronic. Acute bronchitis usually clears up, but chronic bronchitis is persistent and never completely goes away. Quitting or avoiding smoking can help prevent bronchitis.</p>

    <h2>Symptoms</h2>
    <ul>

        <li> a persistent cough, which may produce mucus.</li>
         <li>a low fever and chills.</li>
         <li>a feeling of tightness in the chest and a sore throat and a blocked nose and sinuses</li>
         <li>breathlessness and headaches.</li>
         <li>wheezing and body aches.</li>

    </ul>
    <h2>Prevention</h2>
    <ul>
        <li>avoiding or quit smoking.</li>
         <li>avoiding lung irritants, such as smoke, dust, fumes, vapors, and air pollution.</li>
         <li>Avoid alcohol, tea and coffee as these drinks can cause slight dehydration.</li>
         <li>wearing a mask to cover the nose and mouth when pollution levels are high.</li>
         <li>washing the hands often to limit exposure to germs and bacteria.</li>
         <li>asking about vaccinations to protect from pneumonia and the flu.</li>

    </ul>
</table>
  </div>

 <div  style="background:lightgreen">
<table>
    <h1>DENGUE</h1>
    <p>In Australia the dengue virus is transmitted by a bite from the Aedes aegypti mosquito. Only the female mosquito transmits the dengue virus. This mosquito is a daytime biter, both inside and outside homes, and is most active in the hours after sunrise and before sunset. Other species of mosquito can transmit the virus but are not presently established in Australia.

Aedes aegypti mosquitoes breed inside and outside the home in containers holding water and rarely fly more than 200 metres from the breeding site. They do not breed in creeks, swamps, pools or other bodies of water.</p>

    <h2>Symptoms</h2>
    <ul>
        <li> fever for 3 to 7 days.</li>
         <li>intense headache and pain behind the eyes.</li>
         <li>muscle and joint pain</li>
         <li>loss of appetite.</li>
         <li>vomiting and diarrhoea and skin rash.</li>
        <li>bleeding, usually from the nose or gums.</li>

    </ul>
    <h2>Prevention</h2>
    <ul>
        <li>Protect yourself from mosquito bites at all times in dengue areas.</li>
         <li>Prevent access of mosquitoes to an infected person with a fever.</li>
         <li>Personal protection and the environmental management of mosquitoes are important in preventing illness.</li>


    </ul>
</table>
  </div>



</body>
</html>